body{
				--theme-color:#6610f2;
				--sec-thm-cl:#6610f250;
}
body.light{
				--bg-col:#fff;
				--bg-col-sc:rgb(223, 223, 223);
				--shd-c:#efefef;
				--txt-c:#000;
}
body.dark{
				--bg-col:#151525;
				--bg-col-sc:#151010;
				--shd-c:#151515;
				--txt-c:#fff;
}
html , body{
				margin:0;
				padding:0;
				background:var(--bg-col);
}
*:not(.material-icons){
				font-family: 'Gowun Dodum', sans-serif !important;
}
*{
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
div.app{
				max-width:900px;
				width:100%;
				overflow:hidden;
				transition:0.3s;
				position: absolute;
				top:0;
				overflow:hidden;
				height:auto;
				max-height:calc(100vh + 60px);
}

div.menu-nav-bar{
				background:var(--theme-color);
				color:white;
				width:calc(100% - 60px);
			 height:60px;
			 border-radius:0 0 15px 15px;
			 display: flex;
  justify-content: space-between;
  padding:0px 30px 0px 30px;
  transition:0.3s;
}
.ico{
		display: inline-flex;
		text-align:center;
		vertical-align:middle;
}
div.menu-nav-bar button {
 margin-top:10px;
 width:30%;
 overflow:hidden;
 text-overflow: ellipsis;
 color:white;
}
div.page{
				width:calc(100% - 10px);
				height:calc(100vh - 80px);
				margin-top:10px;
				background:var(--bg-col);
				border-radius:15px;
			 margin-left:5px;
			 margin-bottom:10px;
			 transition:0.5s;
			 overflow: scroll;
			
}
div.page::-webkit-scrollbar{
	width: 0px;
}

div.box{
				box-shadow:0 0 0 3px var(--theme-color);
}
.pg-but.active-tab{
				border-bottom:3px solid white;
				transition:0.4s;
}
.formal{
 background:#151525; color:white; border:1px solid white;
}
div.loader{
				height:150px; width:150px;
				border-radius:15px;
				position: absolute;
				top:calc(50vh - 75px);
				left:calc(50vw - 75px);
				display: flex;
				vertical-align:middle;
				justify-content:center;
				animation:2s loader infinite;
				transition:0.3s;
				opacity:0;
				background:var(--bg-col);
				border:1px solid var(--txt-c);
}
@keyframes loader{
				10%{
				 box-shadow:0 0 0 3px #6610f2;
				}50%{
				 box-shadow:0 0 0 3px var(--bg-col);
				}100%{
							box-shadow:0 0 0 3px #6610f2;	
				}
}
div.cam{
			overflow:hidden;
			max-width:calc(100vw - 20px);	
	}

canvas{
 display:none;
 width:100vw;
 height:100vh;
 max-width:900px;
}
button:disabled{
	color: transparent !important;
}
.bottom_up_slide{
position: fixed;
bottom:50px;
left:calc(50vw - 150px);
border:2px solid #fffc95;
background:#80acff;
color:white;
padding:5px;
border-radius:5px;
}
